.env
*.pem
*.key
*.log
*.tfstate
.terraform/
venv/
__pycache__/
.aws/

# Audit Reports
reports/system-audit-*.txt

# Temporary files
*.tmp
*.bak

# VS Code
.vscode/settings.json

reports/raw/*
!reports/raw/.gitkeep

